grey = #2c3e50
.hidden
  display none
.in-group
  margin-right 10px
.navbar
  min-width 100%
  height 40px
  background grey
  line-height 40px
  color #ffffff
  ul
    list-style-type none
   a
     text-decoration none
     color inherit
.middle
  text-align center
  margin 0 auto
  width 50%
.cy
  height 1000px
  width 90%
  margin 0 auto 15px auto
.outline
  border 2px dashed grey
